# Archivos del Sistema
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# Editores
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Node (si usas npm)
node_modules/
package-lock.json
npm-debug.log

# Archivos locales
*.log
.env
.env.local

# Dependencias
dist/
build/

# Archivos temporales
temp/
tmp/
*.tmp
